
label{
	@include font-fam-size(2em,$main-font-2,bold,$light-blue);
	margin:20px auto;
}

input[name="search"]{
	    border-radius: 40px;
    width: 20%;
    height: 40px;
    margin: 20px auto;
    transition:$trans-default;
    padding: 10px;

    &:focus{
    	width: 60%;
    	outline: none;
    }

}
button{
margin: auto;

}